<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9597150201-40jibbrqtmchbmlkf7rp7o60b2tab0ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9597150201-40jibbrqtmchbmlkf7rp7o60b2tab0ar</string>
	<key>API_KEY</key>
	<string>AIzaSyAboJIu_-t78HINpRboavqAPoOoyncYH5M</string>
	<key>GCM_SENDER_ID</key>
	<string>9597150201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ZaraatSeller.ZTPL</string>
	<key>PROJECT_ID</key>
	<string>zaraat-seller-9b864</string>
	<key>STORAGE_BUCKET</key>
	<string>zaraat-seller-9b864.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9597150201:ios:80a797c0ecf2cddec6d328</string>
	<key>DATABASE_URL</key>
	<string>https://zaraat-seller-9b864.firebaseio.com</string>
</dict>
</plist>